<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	    <div id="app">
	        <h1 v-if="q">{{msg + 2}}</h1>
	        <input type="text" v-model="msg" />
	        <button @click="cleartext">cleartext</button>
	        <ul>
	        	  <li v-for="todo in todos">{{todo.name}}</li>
	        </ul>
	    </div>
	    
	    
	    <script type="text/javascript" src="vue.js" ></script>
	    <script>
	        new Vue({
	            el:'#app',
	            data:{
	                msg:'10',
	                q:true,
	                todos:[
	                   {
	                       name:'xiaoming'
	                   },
	                   {
	                       name:'xiaozhu'
	                   },
	                   {
	                       name:'xiaoniu'
	                   }
	                ]
	            },
	            methods:{
	                cleartext:function(){
	                    alert(this.msg);
	                }
	            }
	        })
	    </script>
	</body>
</html>
