<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <div id="app">
            <input type="text" v-model="msg" />
            <button v-on:click="notify">Broadcast Event</button>
            <child></child>
        </div>

        <template id="child">
            <ul>
                <li v-for="item in messages">
                    父组件录入了信息：{{item}}
                </li>
            </ul>
        </template>

        <script type="text/javascript" src="vue.js"></script>
        <script>
        
            var Child = Vue.extend({
                template:'#child',
                data(){
                    return{
                        messages:[]
                    }
                },
                events: {
                    'parent-msg':function(msg){
                        this.messages.push(msg)
                    }
                }
            })
            
            var vm = new Vue({
                el:'#app',
                data:{
                    msg:''
                },
                methods:{
                    notify:function(){
                        if(this.msg.trim()){
                            this.$broadcast('parent-msg',this.msg)
                        }
                    }
                },
                components:{
                    'child':Child
                }
            })
        
        </script>
    </body>

</html>