<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css" />
    </head>

    <body>

        <div class="container">
            <div class="card">
                <h3 class="card-header">Cart</h3>
                <div class="card-block">
                    <div id="app">
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="c-input c-checkbox">
                            <input type="checkbox" v-model="allSelected">Select All
                            <span class="c-indicator"></span>
                        </label>
                            </div>
                            <div class="col-xs-2">
                                Goods
                            </div>
                            <div class="col-xs-5">
                                Number
                            </div>
                            <div class="col-xs-2">
                                Money
                            </div>
                        </div>
                        <form>
                            <div class="row" v-for="(index, item) in items">
                                <div class="col-xs-3">
                                    <label class="c-input c-checkbox">
                                <input type="checkbox" v-model="item.selected">
                                <span class="c-indicator"></span>
                            </label>
                                </div>
                                <div class="col-xs-2">
                                    {{ item.message }}
                                </div>
                                <div class="col-xs-5">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-text="item.num">
                                </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li v-for="n in nums">
                                                <a class="dropdown-item" @click="fillIn(index, n)">{{n}}个</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    {{ item.price * item.num }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-3">
                                    Sum
                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-5">

                                </div>
                                <div class="col-xs-2">
                                    {{ sum }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" :disabled="sum === 0" @click="send">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="vue.js"></script>
        <script type="text/javascript" src="../bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script>
            var vm = new Vue({
                el: "#app",
                data: {
                    items: [{
                        id: 1,
                        message: 'Apple',
                        selected: false,
                        num: 1,
                        price: 5
                    }, {
                        id: 2,
                        message: 'Peach',
                        selected: true,
                        num: 1,
                        price: 10
                    }, {
                        id: 3,
                        message: 'Orange',
                        selected: true,
                        num: 1,
                        price: 15
                    }, {
                        id: 4,
                        message: 'Pear',
                        selected: true,
                        num: 1,
                        price: 20
                    }]
                },
                methods: {
                    fillIn: function(index, n) {
                        this.items[index].num = n;
                    },
                    send: function() {
                        var formData = new FormData();

                        //获取被勾选的项的id，然后返回，不知怎么写
                        for(var i = 0, length = this.items.length; i < length; i++) {
                            if(this.items[i].selected === true) {

                            }
                        }

                        //发送ajax请求
                        this.$http.post('/someUrl', formData).then((response) => {
                            // success callback
                        }, (response) => {
                            // error callback

                        });
                    }
                },
                computed: {
                    nums: function() {
                        return [1, 2, 3, 4, 5];
                    },
                    allSelected: {
                        get: function() {
                            for(var i = 0, length = this.items.length; i < length; i++) {
                                if(this.items[i].selected === false) {
                                    return false;
                                }
                            }
                            return true;
                        },
                        set: function(val) {
                            for(var i = 0, length = this.items.length; i < length; i++) {
                                this.items[i].selected = val;
                            }
                        }
                    },
                    sum: function() {
                        var totalAmount = 0;
                        for(var i = 0, length = this.items.length; i < length; i++) {
                            var item = this.items[i];
                            if(item.selected === true) {
                                totalAmount += item.price * item.num;
                            }
                        }
                        return totalAmount;
                    }
                }
            });
        </script>
    </body>

</html>