<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <div id="app">
            <parent-component v-bind:a="a" v-ref:a1></parent-component>
            <button @click="appcon">APP组件</button>
        </div>
        
         <template id="Parent">
             <div>this is parent{{a}}</div>
             <button @click="appchild">子组件</button>
             <child :msg="msg"></child>
         </template>
        
        <template id="Child">
            <div>this is child!</div>
            {{msg}}
        </template>
        
       
        
        
        <script type="text/javascript" src="vue.js"></script>
        <script>
                
               var Child = Vue.extend({
                   template:'#Child',
                   data(){
                       return{
                           mm:"world"
                       }
                   },
                   props:['msg']
               })
               
               var Parent = Vue.extend({
                   template:'#Parent',
                   props:['a'],
                   data(){
                       return{
                           msg:"hello"
                       }
                   },
                   components:{
                       'child':Child
                   },
                   methods:{
                       appchild:function(){
                           alert(this.$parent.a)
                       }
                   }
               })
               
               var vm = new Vue({
                   el:'#app',
                   data(){
                     return{
                         a:'aaa'
                     }
                   },
                   methods:{
                       appcon:function(){
                         alert(this.$refs.a1.msg);
                       }
                   },
                   components:{
                       'parent-component':Parent
                   }
               })
                
        </script>
    </body>

</html>