<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            .zz {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: .3;
            }
            
            .dialog {
                width: 200px;
                height: 200px;
                background-color: #fff;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
                position: absolute;
                left: calc(50% - 100px);
                top: calc(50% - 200px);
            }
        </style>
    </head>

    <body>
        <div id="app">

            <div class="con">
                <label>Search:</label>
                <input type="text" v-model="searchmsg" />
            </div>
            <child :infos="infos" :searchmsg="searchmsg"></child>
            <button @click="diashow = true">Create</button>
            <dialog v-if="diashow"></dialog>
        </div>

        <template id="Child">

            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>AGE</th>
                        <th>SEX</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(index,item) in infos | filterBy searchmsg">
                        <td>{{item.name}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.sex}}</td>
                        <td><button @click="deleteItem(index)">del</button></td>
                    </tr>
                </tbody>
            </table>

        </template>

        <div id="dialog">
            <div class="zz"></div>
            <div class="dialog">
                NAME:<input type="text" v-model="stu.name" /><br /> AGE:
                <input type="text" v-model="stu.age" /><br /> SEX:
                <input type="text" v-model="stu.sex" /><br />
                <button @click="createinfo">CREATE</button>
                <button @click="$parent.diashow = false">关闭</button>
            </div>

        </div>

        <script type="text/javascript" src="vue.js"></script>
        <script>
            var Child = Vue.extend({
                template: '#Child',
                props: ['infos', 'searchmsg'],
                data() {
                    return {

                    }
                },
                methods: {
                    deleteItem: function(index) {
                        this.infos.splice(index, 1)
                    }
                }
            })

            var dialog = Vue.extend({
                template: '#dialog',
                props: ['diashow'],
                data() {
                    return {
                        stu: {
                            name: '',
                            age: '',
                            sex: ''
                        }
                    }
                },
                methods: {
                    createinfo: function() {
                        this.$parent.infos.push(this.stu)
                        this.stu = {}
                        //this.$parent.diashow = false
                    }
                }
            })

            var vm = new Vue({
                el: '#app',
                data: {
                    searchmsg: '',
                    diashow: false,
                    infos: [{
                        name: 'Jack',
                        age: 30,
                        sex: 'Male'
                    }, {
                        name: 'Bill',
                        age: 26,
                        sex: 'Male'
                    }, {
                        name: 'Tracy',
                        age: 22,
                        sex: 'Female'
                    }, {
                        name: 'Chris',
                        age: 36,
                        sex: 'Male'
                    }]
                },
                components: {
                    'child': Child,
                    'dialog': dialog
                }
            })
        </script>

    </body>

</html>