<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <div id="app">
            <p>Messages:{{messages}}</p>
            <child></child>
        </div>
        
        <template id="child">
                <input type="text" v-model="msg"/>
                <button v-on:click="notify">Dispatch Event</button>
        </template>
        
        <script type="text/javascript" src="vue.js"></script>
        <script>
                
                var Child = Vue.extend({
                    template:'#child',
                    data(){
                        return {
                            msg:''
                        }
                    },
                    methods:{
                        notify:function(){
                            if(this.msg.trim()){
                                this.$dispatch('child-msg',this.msg)
                                this.msg=''
                            }
                        }
                    }
                })
                
                var vm = new Vue({
                    el:'#app',
                    data:{
                        messages:[]
                    },
                    events: {
                        'child-msg':function(msg) {
                            this.messages.push(msg)
                        }
                    },
                    components:{
                        'child':Child
                    }
                })
        
        
        </script>
    </body>

</html>