<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>

    </head>

    <body>
        <div id="app">
            {{ message}}
        </div>
    </body>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            date: {
                message: 'Hello Vue!',
            }
        })
    </script>

</html>