<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            .popup-title {
                width: 100%;
                height: 50px;
                background-color: #ccc;
            }
            
            .popup-title> div {
                font-size: 16px;
                cursor: pointer;
            }
            
            .popup {
                width: 100%;
                height: 200px;
                background-color: #000;
                opacity: .4;
            }
            
            .stagger-transition {
                transition: all .3s ease;
                
            }
            .stagger-enter{
                height: 0px;
            }
            .stagger-leave{
                height: 0px;
            }
        </style>
    </head>

    <body>

        <div id="app">
            <componenttop></componenttop>
            <componentbottom v-if="popshow"></componentbottom>
        </div>

        <template id="componenttop">
            <div class="popup-title">
                <div @click="pdshow">展开列表</div>
            </div>
        </template>

        <template id="componentbottom">
            <div class="popup" transition="stagger">
                <button @click="this.$parent.popshow = false">取消</button>
            </div>
        </template>
        <script type="text/javascript" src="vue.js"></script>
        <script>
            var componenttop = Vue.extend({
                template: '#componenttop',
                methods:{
                    pdshow:function(){
                        if(this.$parent.popshow){
                            this.$parent.popshow = false;
                        }else{
                            this.$parent.popshow = true;
                        }
                    }
                }
            })

            var componentbottom = Vue.extend({
                template: '#componentbottom'
            })

            var vm = new Vue({
                el: '#app',
                data: {
                    popshow: false
                },
                components: {
                    'componenttop': componenttop,
                    'componentbottom': componentbottom
                }
            })
        </script>
    </body>

</html>