<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <div id="app">
            <h3>{{ msg }}</h3>
            <input type="text" v-model="msg" />
<!--            <div contenteditable="true" v-model="msg">{{ msg }}</div>
-->            <textarea v-model="msg" cols="5" rows="5"></textarea>
            <a v-bind:href="link">链接</a><br>
            <a v-on:click="dosome">链接</a><br>
            <h1>{{ sz }}</h1>
            <a @click="add">+1</a>
            <br /><br /><br />
            
            <input type="text" v-model="a" />
            <input type="text" v-model="b" />
            <input type="text" v-model="c" />
            
            <br/><br/>
            <div v-if="ok" @click="okclick">
                divdiv
            </div>
            
            
            <input type="checkbox" v-model="checked" v-bind:true-value="ck1" v-bind:false-value="ck2"  />
            <label>{{ checked }}</label>
            
        </div>
        <script type="text/javascript" src="vue.js"></script>
        <script>

            var vue = new Vue({
                el:'#app',
                data:{
                    msg:'',
                    sz:1,
                    a:1,
                    b:1,
                    c:1,
                    ok:true,
                    checked:'',
                    ck1:111,
                    ck2:222,
                    link:'http://www.baidu.com/'
                },
                methods:{
                    dosome:function(){
                        alert("aaa")
                    },
                    add:function(){
                        this.sz++;
                    },
                    okclick:function(){
                        this.ok = false;
                    }
                },
                computed:{
                    c: function(){
                        return this.a*1+this.b*1;
                    }
                }
            })

//          vue.$watch('a',function(){
//              console.log("aaaaaa");
//             this.c=this.a+this.b;
//          })
//          vue.$watch('b',function(){
//             this.c=this.a+this.b;
//          })



        </script>
    </body>

</html>